*{
    box-sizing: border-box;
}


h3{
    color:#ff0015;
    font-size:medium;
    padding: 10px 0px;
    cursor: pointer;
}
.ant-modal .ant-modal-content{
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(105, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ant-modal .ant-modal-close-x{
    display: none;
}
iframe{
    width: 800px;
    height: 400px;
}

.swiper-button-prev, .swiper-button-next{
font-size: large
}
@media screen and (max-width: 512px) {
    iframe{
        height: 200px;
        width: 100%;
    }
    .ant-modal .ant-modal-content{
            width: 90%; 
            max-width: 400px;
            padding: 5px; 
            transform: translate(-50%, -75%);
    }
  .swiper-button-prev, .swiper-button-next{
    font-size:smaller;
  }
  h3{
    margin: 10px;
}
  
}